body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    color: #333;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 15px 0;
    text-align: center;
}

#titulo {
    margin: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 10px 0 0 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #388E3C;
    transition: background-color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    background-color: #45a049;
    transform: scale(1.05);
}

section {
    padding: 15px;
    margin: 15px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section h2 {
    color: #4CAF50;
}
#itinerario {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin: 15px;
}

.dia {
    margin-bottom: 20px; /* Espacio entre los días */
}

h3 {
    color: #4CAF50; /* Color para subtítulos */
}

ul {
    list-style-type: none; /* Quita las viñetas de las listas */
    padding: 0; /* Quita el padding por defecto */
}

.imagen-dia1, .imagen-dia2, .imagen-dia3 {
    margin-top: 10px; /* Espacio encima de las imágenes */
}

.imagen-dia1 img, .imagen-dia2 img, .imagen-dia3 img {
    max-width: 100%; /* Asegura que la imagen no sobrepase el contenedor */
    height: auto; /* Mantiene la proporción de la imagen */
    border-radius: 5px; /* Bordes redondeados */
}


.enlace-costos {
    text-decoration: none; /* Quitar subrayado */
    color: #008080; /* Color del texto */
    font-weight: bold; /* Negrita */
    font-size: 1.2em; /* Tamaño de fuente */
}

.enlace-costos:hover {
    color: #005757; /* Cambio de color al pasar el mouse */
}

#itinerario {
    padding: 20px;
}

.dia {
    margin-bottom: 30px; /* Espacio entre días */
}

.menus-comida {
    margin-top: 20px; /* Espacio antes de los menús */
}

h3 {
    margin-top: 10px; /* Espacio superior en los encabezados */
}

ul {
    margin: 5px 0; /* Margen en listas */
}

ul ul {
    margin-left: 20px; /* Sangría en sublistas */
}


